/*

Petit mémo si jamais :
voici les code couleurs de la charte graphique :
- #2E576E (gros titres)
- #002336 (titres, mots spéciaux) 
- #4380A1 (fond (avec de l'alpha))  
- #769CB0 (bouton)
- #65C1F2 (hover sur certains elements de type btn)


*/

html { 
    background: url(../Medias/bg.png) no-repeat center center fixed; /*                         */
    -webkit-background-size: cover;                                  /*                         */
    -moz-background-size: cover;                                     /* code pour le background */
    -o-background-size: cover;                                       /*                         */
    background-size: cover;                                          /*                         */
    font-family: 'Montserrat', sans-serif; /*définit l'écriture sur Montserrat*/
    font-weight: 300;

  }

body {
    margin-left: 3%;   /* petite bordure  */
    margin-right: 3%;  /* sur les cotés   */
}




nav{
    background-color:#4380A1; /* NavBar bleue */
    -webkit-animation: expand 3s;
    /* position: fixed;
    z-index: 999; */
}


@-webkit-keyframes expand{
    0%{width:65%}
    100%{width:100%}
}





nav button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2rem;
    size: 20rem 6rem;
    background-color: #769CB0;
    /* background-color: #65C1F2; */
    border-radius: 0px;
    border-color: #769cb000;
    width:150PX;
}

nav button:hover {
    /* background-color: #769CB0; */
    background-color: #65C1F2;
    font-weight: 500;
}

.blue_btn {
    background-color: #769CB0;
    color: aliceblue;
    border-radius: 0px;
    border-color: #769cb000;
    margin-right: 10px;
    width: 150px;
    height: 60px;
}

.blue_btn:hover {
    background-color: #65C1F2;
}

header {
    margin-bottom: 25px;
}

footer {
    margin-top: 25px;
    background-color:#4380A1;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

footer div {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#footer_links {
    margin-top: 15px;
    margin-bottom:15px ;
    width: 80%;
}

#footer_links div a {
    color: white;
    text-decoration: none;
}

#footer_links div a:hover {
    color: #65C1F2;
}



#footer_icon {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 20%;
    justify-content: right;
}

footer .socials img {
    width: 24px;
    height: 24px;
}



article {
    background-color: rgba(0, 0, 0, 0.089);
    margin-top: 2%;
    border-style: solid;
    border-width: 1px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

article div:nth-child(odd) {
    width: 50%;
}
.article_corp {
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#instruction_content article:nth-child(even) .article_corp {
    flex-direction: row-reverse;
}

.article_corp .article_content {
    display:flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: column;
}

#instruction_content article:nth-child(even) .article_corp .article_content {
    text-align: right;
}

h1 {
    text-align: center;
    font-weight: 500;
    color: #2E576E;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-weight: 400;
    color: #002336;
}

.centered {
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.article_corp img {
    margin-right: 10px;
    margin-right: 12vh;
    margin-left: 10px;
    margin-left: 12vh;
    margin-bottom: 10px;
    width: 25vw;
    height: auto;
}

@media screen and (max-width: 800px){
    .article_corp {
        margin-left: 5px;
        margin-right: 5px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .article_content {
        width: 70vw;
    }
    .article_corp img {
        width: 70vw;
    }
    #instruction_content article:nth-child(even) .article_corp{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    footer {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    footer div {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    #footer_links {
        width: 100%;
    }
    
    #footer_links div a {
        color: white;
        text-decoration: none;
    }
    
    #footer_links div a:hover {
        color: #65C1F2;
    }

    #footer_icons {
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .socials {
        margin: 0.5em;
    }
}

/*Class données pour le formulaire:
.form_civil : haut du formulaire, nom, prénom, mail
.form_msg : corps de message: motif de contact et text area
.form_btn : les deux boutons reset et submit

==========
CSS FORMULAIRE :
==========*/

form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: span/3;
    justify-content: center;
    align-content: center;
    border:solid 1px;
    margin:20px 10px 10px 20px;
    padding:3%;
    background-color: rgba(0, 0, 0, 0.089);
}

#form_txt{
    text-align: center;
}

.form_civil{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0% 10% 10% 5%;
    grid-column: 1 /span 2;
    grid-row: 1;
    justify-self: center;
}

input{
    width:20vw;
}

label{
    text-align: right;
}

 
.form_msg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    grid-column: 1 /span 2;
    grid-row: 2;
    width:80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

textarea{
    resize: none;
}

.form_btn{
    display:flex;
    margin-right: auto;
    margin-left: auto;
    grid-column: 1 /span 2;
    grid-row: 3;
}

form + div{
    border:solid 1px black; 
}

/*==========
FIN CSS FORMULAIRE
==========*/

/*==========
CSS INDEX
==========*/

.index_images {
    height: 40%;
    width: 40%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%; 
    grid-gap: 2%;
    text-align: center;
}

.index_images img{
    height: 100%;
    width: 100%;
    
}

.index_images img:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

.index_img_button {
    padding: 25px;
    border-radius: 1px;
    box-shadow: 0 0 10px 1px black;
    /* box-shadow: 0 0 5px 4px #769CB0; */
}

.index_images a:nth-of-type(1){
    background: rgb(101, 193, 242, 0.4);
}

.index_images a:nth-of-type(2){
    background: rgb(244, 168, 0, 0.4);
}

.index_images a:nth-of-type(3){
    background: rgb(228, 78, 49, 0.4);
}

.index_images a:nth-of-type(4){
    background: rgb(142, 193, 46, 0.4);
}

.index_images a:nth-of-type(1) img{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.index_images a:nth-of-type(2) img{
    grid-column: 2 ;
    grid-row: 1 ;
}

.index_images a:nth-of-type(3) img{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;

}

.index_images a:nth-of-type(4) img{
    grid-column: 2 / 3 ;
    grid-row: 2 / 3;
}

/*==========
FIN CSS INDEX
==========*/

@media screen and (max-width: 800px){
    /*
    partie index
    */

    .index_images {
        height: 40vh;
        width: 40vw;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 49% 49%; 
        grid-gap: 2%;
        text-align: center;
    }
    
    .index_images img{
        height: 100%;
        width: 100%;
        
    }
    
    .index_images img:hover{
        transform: scale(1.05);
        transition-duration: 1s;
    }
    
    .index_img_button {
        width: 45px;
        height: 85px;
        padding: 25% 25%;
        border-radius: 1px;
        box-shadow: 0 0 10px 1px black;
        /* box-shadow: 0 0 5px 4px #769CB0; */
    }
    
    .index_images a:nth-of-type(1){
        background: rgb(101, 193, 242, 0.4);
    }
    
    .index_images a:nth-of-type(2){
        background: rgb(244, 168, 0, 0.4);
    }
    
    .index_images a:nth-of-type(3){
        background: rgb(228, 78, 49, 0.4);
    }
    
    .index_images a:nth-of-type(4){
        background: rgb(142, 193, 46, 0.4);
    }
    
    .index_images a:nth-of-type(1) img{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .index_images a:nth-of-type(2) img{
        grid-column: 2 ;
        grid-row: 1 ;
    }
    
    .index_images a:nth-of-type(3) img{
        grid-column: 1 / 2 ;
        grid-row: 2 / 3;
    
    }
    
    .index_images a:nth-of-type(4) img{
        grid-column: 2 / 3 ;
        grid-row: 2 / 3;
    }
    


    /*
    partie article
    */

    /*
    partie formulaire
    */
    iframe{
        max-width: 80%;
    }
    .form_btn{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #form_btn_send{
        margin-top: 10px;
    }
    .form_civil input{
        min-width: 200px;
    }
}
